body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;

  color: #333;

  margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1366px;

  margin: 0 auto;
}

/*============================================================================HEADER*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_menu {
  margin-top: 87px;

  display: flex;
  justify-content: space-between;
}

.header__logo img {
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__logo {
  position: relative;
}

.nav {
  font-size: 17px;
  font-weight: 300;
}

.nav_link {
  margin: 0 25px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s linear;
}

.nav_link:hover {
  color: #333;
}

.number {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 25px;

  color: #fff;
}

/*============================================================================GROUP*/

.GROUP {
  width: 100%;
  height: 900px;

  background: url("GROUPS/GROUP.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.intro__text {
  color: #fff;

  margin-top: 252px;
}

.btn {
  margin-top: 91px;
}

.arenda {
  padding: 20px 77px;

  border-radius: 8px;

  background-color: #2F2F2F;
  color: #fff;

  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s linear;
}

.arenda:first-child {
  margin-right: 27px;
}

.arenda:hover {
  color: #2F2F2F;
  background-color: #fafafa;
}

.uptext {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 18px;
}

.downtext {
  font-size: 30px;
  font-weight: 300;
}

.intro__car {
  position: absolute;
  left: 958px;
  top: 270px;
}

/*=============================================================================GROUP__2*/

.GROUP__2 {
  background: #fff;

}

.head__text {

  padding: 110px 0 15px 0;

  color: #2F2F2F;
  font-size: 25px;
  font-weight: 300;
}

.border {
  width: 75%;
  border-bottom: 2px solid #212121;
}

.ourcar {
  padding: 123px 0 84px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arenda__car {
  margin-left:40px;
}

.arenda__car:first-child {
  margin: 0;
}

.arenda__inner {
  font-size: 15px;
  font-weight: 300;

  margin: 18px 0 11px 0;
}

.price {
  font-size: 15px;
  font-weight: 500;

  margin-bottom: 24px;
}

.button {
  padding: 14px 57px;

  border-radius: 8px;

  background-color: #2F2F2F;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

/*==============================================================================GROUP__3*/
.GROUP__3 {
  background: url("GROUPS/GROUP3.png") center no-repeat;
  width: 100%;
  height: 420px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content__inner {
  display: flex;
  align-items: center;
}

.text__content  {
  margin-left: 48px;

  font-size: 35px;
  font-weight: 900;

  color: #fff;

  text-transform: uppercase;

}

.text__content p:first-child {
  margin: 0;
}

.car__content {
  margin-left: 65px;
}
/*==============================================================================GROUP__3*/

.GRPOUP__4 {
  position: relative;
}

.GRPOUP__111:before  {
  background: url("GROUPS/bg 3.png") center no-repeat;
  position: absolute;
  top: 0;
  content:"";
  width: 1478px;
  right: 0;
  height: 680px;
  z-index: -9;
  box-shadow:
}



.service {
  margin-top: 47px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service__inner {
  margin-right: 55px;
}

.service__inner:last-child {
  margin-right: 0;
}

.service__text {
  font-size: 20px;
  font-weight: 300;

  color: #2F2F2F;

  padding-top: 15px;
  padding-bottom: 48px;
}

.service__text.rec{
  font-size: 20px;
  font-weight: 300;

  color: #2F2F2F;

  padding-top: 15px;
  padding-bottom: 24px;
}

/*=============================================================================GROUP5*/

.GROUP_5 {
  position: relative;
  z-index: -9;
}

.head__text__two {
  padding: 110px 0 15px 0;

  font-size: 25px;
  font-weight: 300;

  text-transform: uppercase;
  text-align: right;

  position: relative;
}

.border2 {
  position: absolute;
  right: 265px;
  z-index: 1;
}

.partner {
  padding: 85px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.partner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner2 {
  padding: 51px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*============================================================================GROUP__6*/
.GROUP__6 {
  background: linear-gradient(97.61deg, #8F4AFD 24.22%, #A05CF9 48.58%, #841FFF 89.48%);
  padding: 70px 50px;

}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calling {
  font-size: 25px;
  font-weight: 300;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;

  margin-right: 55px;
}

.input input {
  margin-right: 50px;
  border-radius: 8px;
  padding: 17px 34px;
  border: 1px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  }

.send {
  padding: 17px 86px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  background-color: #D9D9D9;

  font-size: 20px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;

  cursor: pointer;
}

.send:after {
  background-color: #333;
}
/*============================================================================GROUP__6*/
.group__7 {
  background: url("GROUPS/bg7.png") center no-repeat;
  background-size: cover;
}

.text {
  padding: 111px 130px 1px 127px;
  border-radius: 20px;

  background-color: #fff;
  color: #2F2F2F;

  text-align: center;
}

.text_slide {
  position: relative;
  padding: 50px 230px 181px 230px;;
}

.text p {
  margin: 50px 0 86px 0;
  color: #2F2F2F;
  font-weight: 500;
}

.prev {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 1;
}

.next {
  position: absolute;
  top: 180px;
  right: 80px;
  z-index: 1;
}
/*===============================================================================*/
.podval {
  background: #2F2F2F;
  padding: 43px 0;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.podval__logo {
  position: relative;
}

.podval__inner {
  color: #fff;

  margin: 79px 0 0;
}

.podval__inner p {
  font-size: 17px;
}

.podval__contact {
  display: flex;
  flex-direction: column;
  padding: 24px 31px 20px;
  background-color: #646464;
}

.podval__contact input {
  width: 318.8px;
  height: 60.02px;
  margin: 15px 0 18px 0;
}

.podval__contact h4{
  font-size: 22.71px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-align: center;
}

.butn__foot {
  padding: 18px 100px;
  color: #fff;

  cursor: pointer;

  border: 1px solid #2D2D2D;
  border-radius: 8px;

  font-size: 19.43px;
  font-weight: 300;

  text-transform: uppercase;
  background-color: #2D2D2D;
}

.adress h4 {
  color: #fff;

  margin: 0;

  font-weight: 700;
  font-size: 20px;
}

.adress a {
  color: #fff;

  text-decoration: none;

  font-weight: 300;
  font-size: 17px;
}

.contacts {
position: relative;
padding:0 50px;
}

.contacts h4{
  color: #fff;

  margin: 0 0 12px 0;

  font-weight: 700;
  font-size: 20px;
}

.contacts p {
  color: #fff;

  margin: 15px 0;

  font-weight: 300;
  font-size: 17px;
}

.phone {
  position: absolute;
  left: 13px;
  top: 34px;
}

.letter {
  position: absolute;
  top: 69px;
  left: 7px;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  position: absolute;
  left: 13px;
}

.img img {
  padding-right: 20px;
}

/*=============================================================================ADAPRIV*/

@media (max-width:750px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
    margin-left: 0;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .text__content {
    font-size: 25px;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .content__inner img{
    width: 50%;
  }

  .service__inner img {
    width: 50%;
  }

  .button {
     padding: 14px 28px;
   }

   .partner1 img {
     width: 10%;
   }

   .partner2 img {
     width: 10%;
   }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
    margin: 10px 0 0;
  }

  .contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start
}

  .text {
    padding: 50px 50px 3px 50px;
    font-size: 13px;
  }

  .footer__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

  .podval__contact {
    padding: 17px 215px 20px;
  }

  .adress {
    margin-top: 25px;
  }

  .contacts {
    margin-top: 25px;
    position: relative;
    padding: 0 50px;
}

}


@media (max-width:992px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 50px 50px 3px 50px;
  font-size: 10px;
  }
}

@media (max-width:1050px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 50px 50px 3px 50px;
  font-size: 10px;
  }
}

@media (max-width:1230px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 15px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-evenly;
  }

  .arenda__car img {
    width: 85%
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
  padding: 60px 50px 3px 50px;
  font-size: 15px;
  }
}

@media (max-width:1300px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 12px;
  }

  .nav {
    font-size: 12px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-around;
  }

  .arenda__car img {
    width: 90%
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 9px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
    padding: 73px 0 35px 0;
    font-size: 15px;
  }
}

@media (max-width:1438px) {
  .container {
    width: 100%;
  }

  .header__logo img {
    position: absolute;
    top: -34px;
    right: 0;
    z-index: 1;
 }

  .header_menu {
    padding: 0 50px;
  }

  .number {
    font-size: 15px;
  }

  .nav {
    font-size: 15px;
  }

  .ourcar {
    padding: 10px 25px 50px 25px;
    display: flex;
    justify-content: space-around;
  }

  .arenda__car img {
    width: 90%
  }

  .car__content {
    margin-top: 50px;
    width: 40%;
  }

  .arenda__inner {
    font-size: 10px;
    font-weight: 300;
  }

  .content__inner {
    padding: 80px 0 0;
  }

  .service__inner img {
    width: 75%;
  }

  .service__text {
    padding-top: 33px;
  }

  .border2 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .input {
    display: flex;
  }

  .input input {
    padding: 17px 0;
  }

  .send {
    padding: 17px 10px;
  }

  .text {
    padding: 73px 0 35px 0;
    font-size: 15px;
  }
}
